@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 id="colorful-text" class="display-4 mb-3 fw-bold">
        Image to Text Art Converter
    </h1>
    <p class="lead">
        Upload an image and transform it into a variety of text-based formats - perfect for terminals, documents, websites, and creative experiments.
    </p>
    <p>
        Check out the <a href="/swagger/index.html" target="_blank">netscii API</a> for image conversion and related features.
    </p>
    <p>
        Supported formats:
        <strong>ANSI</strong>, <strong>Emoji</strong>, <strong>HTML</strong>, <strong>TXT</strong>, <strong>LaTeX</strong>, <strong>RTF</strong> and <strong>SVG</strong>.
    </p>
    <p>
        <a href="#" onclick="openRandomExample()">See Some Examples</a>
    </p>
</div>

<hr class="my-5" />

@section Scripts {
    <script>
        function openRandomExample() {
          const index = Math.floor(Math.random() * 10);
          const url = `/images/${index}.svg`;
          window.open(url, '_blank');
        }
    </script>
}