#result-container {
    min-height: 100px;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: monospace;
    tab-size: 4;
}

.btn-conversion-form {
    min-width: 12ch;
    white-space: nowrap;
}
